# 参考自 https://www.cnblogs.com/sparkdev/p/8521812.html
[Unit]
Description=deno http call host command
Documentation=https://github.com/shynome/deno-http-call
After=network.target

[Service]
ExecStart=/usr/bin/deno run -A /usr/lib/deno-http-call/http-call.js start
WorkingDirectory=/etc/deno-http-call
Restart=on-failure

[Install]
WantedBy=multi-user.target
